<div class="text-center mt-4 pb-3">
    <small class="text-muted">
        Subdomain Manager &copy; {{ 'now'|date('Y') }} <a href="https://buymeacoffee.com/chemanc" target="_blank" class="text-info text-decoration-none">XMA Corporation</a>
        &middot;
        <a href="https://buymeacoffee.com/chemanc" target="_blank" class="text-warning text-decoration-none"><i class="fas fa-coffee"></i> Buy me a coffee</a>
    </small>
</div>
